/* Desktop Design */
body {
  font-family: 'Chivo', sans-serif;
}

a {
  font-size: 16pt;
  padding-right: 8px;
  padding-left: 18px;
  color: black;
}

.divider {
  font-size: 16pt;
}

li {
  list-style-type: none;
  font-size: 14pt;
}

p {
  font-size: 14pt;
}

h4 {
  font-weight: bold;
}

#about {
  padding-top: 36px;
}

.row {
  text-align: center;
  /* margin-right: 0px;
  margin-left: 0px; */
}

#head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* justify-content: flex-start; */

  background-image: url("bg-succulent.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* width: 99vw; */
  /* height: 100%; */

  /* padding: 48px; */
  padding: 65px;
}

#work-nav {
  color: white;
}

#contact-nav {
  /* color: #353d4d; */
  /* color: #f28d2e; */
  /* color: #fca9a9; */
  /* color: #a89797; */
}

#nameheader {
  /* padding-left: 16px;
  padding-top: 16px; */
  padding: 16px;
}

nav {
  padding: 20px;
  /* margin-left: 300px; */
}

.aboutintro {
  text-align: center;
}

#work {
  text-align: center;
  padding-top: 36px;
}

#contact-head {
  text-align: center;
}

#contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 36px;
}

.contact {
  font-size: 14pt;
  text-decoration: underline;
}

.navbar-brand {
  text-decoration: underline;
}

footer {
  margin-bottom: 15px;
  text-align: center;
  padding-top: 64px;
}

#junior, #projects {
  padding-top: 18px;
  padding-bottom: 18px;
}



/* Mobile Design */
@media (max-width: 414px) {
  #head {
    display: block;
    object-fit: cover;
    width: 414px;
  }

  #nameheader {
    padding: 0px;
  }

  .col-sm-4 {
    padding-bottom: 18px;
  }

  /* footer */

  /* body {
    text-align: center;
  } */
}

/* Tablet Design */
@media (min-width: 768px) and (max-width: 1024px) {
  /* footer */
}