/* Desktop Design */
body {
  font-family: 'Chivo', sans-serif;
}

a {
  font-size: 16pt;
  padding-right: 8px;
  padding-left: 18px;
  color: black;
}

.divider {
  font-size: 16pt;
}

li {
  list-style-type: none;
  font-size: 14pt;
}

p {
  font-size: 14pt;
}

h4 {
  font-weight: bold;
}

#about {
  padding-top: 36px;
}

.row {
  text-align: center;
}

#head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* justify-content: flex-start; */

  background-image: url("bg-succulent.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* width: 100%;
  height: 100%; */

  /* padding: 48px; */
  padding: 66px;
  /* color: white; */
}

#nameheader {
  /* padding-left: 16px;
  padding-top: 16px; */
  padding: 16px;
}

nav {
  padding: 20px;
  /* margin-left: 300px; */
}

.aboutintro {
  text-align: center;
}

#work, #contact {
  text-align: center;
  padding-top: 36px;
}

.contact {
  font-size: 14pt;
  text-decoration: underline;
}

.navbar-brand {
  text-decoration: underline;
}

footer {
  margin-bottom: 15px;
  text-align: center;
  padding-top: 36px;
}

#junior {
  padding-top: 18px;
  padding-bottom: 18px;
}



/* Mobile Design */
@media (max-width: 414px) {
  #head {
    display: block;
    object-fit: cover;
    width: 414px;
  }

  #nameheader {
    padding: 0px;
  }

  .col-sm-4 {
    padding-bottom: 18px;
  }

  /* body {
    text-align: center;
  } */
}

/* Tablet Design */
@media (min-width: 768px) and (max-width: 1024px) {
  /* .images {
    max-width:45%;
    height:auto;
  } */
}